<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World示例</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript" src="webjars/jquery/1.11.1/jquery.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.js"></script>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>


    <script type="text/javascript">

        function doPost() {

            data = {}
            data["name"] = "zhang"
            data["time"] = "now"

            $.ajax({
                type : "post",
                url : "http://localhost:8080/init",
                contentType : 'application/json;charset=UTF-8',
                dataType : "json",
                data: JSON.stringify(data),
                success: function(msg){
                    alert( "Data received: " + msg["result"] );
                },
                error: function(msg) {
                    console.info(msg)
                }
            });
        }

    </script>



</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Spring Boot</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">首页</a></li>
                <li><a href="#about">关于</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>Spring Boot Web Thymeleaf示例</h1>
        <h2>
            <span th:text="'Message: ' + ${message}"></span>
            <span th:text="'name: ' + ${name}"></span>
        </h2>
    </div>

    <button type="button" onclick="doPost()">ClickHere</button>


</div>
<!-- /.container -->

</body>


</html>