<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World示例</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript" src="webjars/jquery/3.3.1-1/jquery.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.js"></script>

    <script type="text/javascript" th:src="@{/js/func.js}"/>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:src="@{/css/main.css}"/>


</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Spring Boot</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">首页</a></li>
                <li><a href="#about">关于</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>Spring Boot Web Thymeleaf示例</h1>
        <h2>
            <span th:text="'Message: ' + ${message}"></span>
            <span id="me" th:text="'name: ' + ${name}"></span>
        </h2>
    </div>

    <button id="btn1" type="button">ClickHere_Btn1</button>
    <p/>
    <button id="btn2" type="button">ClickHere_Btn2</button>
    <p/>

    <!--<button id="btn1" type="button" onclick="doPost1()">ClickHere</button>-->
    <!--<button id="btn2" type="button" onclick="doPost2()">ClickHere</button>-->

    <a href="/init2?name=cc&amp;&amp;time=003">Here</a>


</div>
<!-- /.container -->

</body>


</html>